*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: coral;
}
h1{
    color: darkgreen;
    font-size: 50px;
    text-align: center;
}
h2{
    color: darkmagenta;
    font-size: 40px;
    text-align: center;
}

h3{
    color: darkolivegreen;
    text-align: right;
    font-size: 30px;
}